<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="../public/jQuery.mini.js"></script>
    <script src="../public/axios.js"></script>
    <!-- <script src="../"></script> -->
    <link rel="stylesheet" href="../public/bootstrap.css">
    <link rel="shortcut icon" href="../public/favicon.ico">
    <link rel="stylesheet" href="../public/css/details.css">
    <title><%- title %></title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./index.html">返回主页</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="wrapper">
            <br>
            <div class="header"><h2><%- title %></h2></div>
            <div class="other">
                <div class="name">用户: <%- username %></div>
                <div class="time"><%- time %></div>
            </div>
            <div class="content">
                <pre><%- content %></pre>
                <div class="imgBox">
                    <img class="img" src="<%- imgurl %>" alt="">
                </div>
            </div>
            <div class="container1">
                <div class="comment-send">
                    <div id="commentForm" class="form_add" method="POST">
                        <span class="comment-avatar">
                            <img src="../public/img/blog.png" alt="avatar">
                        </span>
                        <textarea class="comment-send-input" name="comment" form="commentForm" cols="80" rows="5"
                            placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。"></textarea>
                        <input class="comment-send-button" value="发表评论">
                    </div>
                </div>
            </div>
            <button class="commentWatch" style="width: fit-content;">查看评论</button>
        </div>
        <br>
        <div class="wrapper1">
            <div class="comment" style="display:none;" id="comment">
                <h2>评论 -CommenT-</h2>
                <div class="container1">
                    <div class="comment-list" id="commentList">
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <script src="../public/js/details.js"></script>

</body>

</html>